body{
    background-color: rgb(198, 255, 186);
}
h2{
    margin: 0 0 15px 25px;
    color: red;
}
h1{
    text-align: left;
    color: red;
    margin-left: 30px;
}

form h2{
    margin: 0 0 15px 0;
    color: blueviolet;
}
form{
    margin: 0 auto 25px auto;
    width: 250px;
    text-align: center;
    background-color: rgb(147, 255, 126);
    padding: 25px;
    border-style:solid;
    border-radius: 5px;
    border-color: white;
    color: blueviolet;
}
form label{
    text-align: right;
    float: left;
    font-size: 13pt;
    color: blueviolet;
}
form input, select{
    width: inherit;
    text-align: left;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 7px;
    background-color: inherit;
    border-radius: 4px;
    border-color: white;
    outline-color: white;
    color: rgb(202, 0, 111);
}
#form-button{
    width: 50%;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    background-color: inherit;
    border-color: rgb(0, 187, 9);
    border-radius: 4px;
    font-size: 11pt;
    color: blueviolet;
}
#form-button:hover,
#form-button:active{
    color: white;
    background-color: rgb(0, 187, 9);
}
p{
    margin: 20px 0 0 0 ;
    text-align: center;
    color: blue;
}

li{
    color: maroon;
    width: 400px;
    display:flex;
    justify-content: space-between;
    margin-bottom: 15px;
    list-style: none;
}
li h3{
    margin: 0;
}
li p{
    text-align: left;
    margin: 0;
}
li div{
    display: inline-block;
    vertical-align: center;
}

#delete-btn{
    background-color: inherit;
    border-color: red;
    border-radius: 4px;
    padding: 2px;
}
#delete-btn:hover,
#delete-btn:active{
    color: white;
    background-color: red;
}

#premium-button{
    padding: 5px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    color: blueviolet;
    border-color: blueviolet;
    border-radius: 5px;
}
#premium-button:hover,
#premium-button:active{
    color:white;
    background-color: blueviolet;
}

#form-div{
    text-align: center;
}

#leaderboard-button{
    display: inline-block;
    margin: 10px 10px;
    padding: 5px;
    text-align: center;
    color: blueviolet;
    border-color: blueviolet;
    border-radius: 5px;
}
#leaderboard-button:hover,
#leaderboard-button:active{
    color:white;
    background-color: blueviolet;
}

#report-button{
    display: inline-block;
    margin: 10px 10px;
    padding: 5px;
    text-align: center;
    color: blueviolet;
    border-color: blueviolet;
    border-radius: 5px;
}
#report-button:hover,
#report-button:active{
    color:white;
    background-color: blueviolet;
}

#expenses-leaderboard{
    display: flex;
    justify-content: space-between;
}
#expenses-div{
    display: inline-block;
    width: 50%;

}
#leaderboard-div{
    display: inline-block;
    width: 50%;
}
#leaderboard-div h2{
    color: blue;
}

#leaderboard-list{
    list-style-type: decimal ;
}
#leaderboard-list li{
    color: blueviolet;
}


#report-download-button{
    text-align: center;
    margin: 30px auto 5px auto;
    display: flex;
    color: blue;
    border-color: blue;
    padding: 4px;
    border-radius: 5px;
}
#report-download-button:hover,
#report-download-button:active{
    color: white;
    background-color: blue;
}


